<!doctype html>
<html lang="ru">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/css/screen.min.css" />
   <link rel="alternate" href="http://feeds.feedburner.com/flatstat/qjpO" type="application/atom+xml" title="" />
</head>
<body><div class="container">
<header>
  <hgroup>
    <h1 class="header"><a href="/"><img src="/images/logo.svg" style="width:40%" alt="Квартиры России: заметки о жилищном рынке" title="Квартиры России: заметки о жилищном рынке"/></a></h1>
  </hgroup>
</header>
{{ content }}
<footer>
  <p style="text-align:center">
    &copy; Мохин Михаил, 2012 <br> <script type="text/javascript" language="javascript">ML="n=\"fi@<"+"eku.r/atlo: >hm";MI="6=BD;7312E=4?>@AE48D=4?5E@8D40:;92CE48D=4?5E@8D40:;96<"+"=C";OT="";for(j=0;j<MI.length;j++){OT+=ML.charAt(MI.charCodeAt(j)-48);}document.write(OT);</script> <br> <a href="http://feeds.feedburner.com/flatstat/qjpO">Обновления RSS</a> | <a href="#">К началу&nbsp;&uArr;</a>
  </p>
</div>
</footer>
{% include ga.html %}
  <!-- </div> -->
</div></body>
</html>