<!doctype html>
<html lang="ru">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/css/screen.css" />
   <link rel="alternate" href="http://feeds.feedburner.com/" type="application/atom+xml" title="" />
</head>
<body>
<header>
  <hgroup>
    <h1 class="header"><a href="/"><img src="http://trade.site44.com/assets/img/MC900157747.svg" style="width:40%" alt="Квартиры России: заметки о жилищном рынке" title="Квартиры России: заметки о жилищном рынке"/></a></h1>
    <!-- <h2 class="header"><h2> -->
  </hgroup>
</header>
{{ content }}
<footer>
  <p>
    &copy; Мохин Михаил, 2012 | <a href="http://feeds.feedburner.com/">Подписаться на обновления</a>
  </p>
</footer>
{% include ga.html %}
</body>
</html>
